body{
    background-color: #3d9b7d;
    
}
p,h1{
    color: white;
}
#p1{
    background-color: rgb(0, 128, 0,0.5);
    
}
#p2{
    background-color: rgb(128, 128,128);
}
#p3{
    background-color: hsl(240, 100%, 50%)
}
#zebra1{
    background-color: #ddd;
    color:black;
}
#zebra2{
    background-color: #bbb;
    color:black;

}